// Colors
$colors: (
  // Main Colors
        primary-color: (
                'pink': hsl(322, 100%, 66%),
                'light-blue': hsla(208, 100%, 98%, 1),
                'red': hsl(0, 97%, 60%),
        ),
        neutral-color: (
                'very-pale-cyan': hsl(193, 100%, 96%),
                'very-dark-cyan': hsl(192, 100%, 9%),
                'grayish-blue': hsl(208, 11%, 55%),
        ),
  // Other
        'background': hsl(0, 0%, 100%),
        'box-shadow': hsla(0, 0%, 0%, 0.1),
        'white': hsl(0, 0%, 100%),
        'black': hsl(0, 0%, 0%),
);